##### THIS FILE IS BEING CURRENTLY MANAGED BY URXVTCONFIG #####
##### CHANGES DONE TO THIS FILE MANUALLY MAY AFFECT THE FUNCTIONALITY ######
##### PROCEED WITH CAUTION! #####

! special colors
*.foreground:  #ffffff
*.background:  #000000
*.cursorColor:  #ffffff
! black
*.color0:      #16130f
*.color8:      #5a5047
! red
*.color1:      #826d57
*.color9:      #826d57
! green
*.color2:      #57826d
*.color10:     #57826d
! yellow
*.color3:      #6d8257
*.color11:     #6d8257
! blue
*.color4:      #6d5782
*.color12:     #6d5782
! magenta
*.color5:      #82576d
*.color13:     #82576d
! cyan
*.color6:      #576d82
*.color14:     #576d82
! white
*.color7:      #a39a90
*.color15:     #dbd6d1

URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

URxvt*transparent:       false

URxvt*depth: 32
URxvt.background: [80]#000000

URxvt.font: xft:CommitMono Nerd Font Mono:pixelsize=18
URxvt.letterSpace: 0

*antialias:  true
*autohint:   false

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: Firefox
URxvt.matcher.button: 1

